version: "3.8"

services:
  mongo:
    image: mongo
    container_name: mongo
    restart: always
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  backend:
    image: zayed2022/taskmanager-backend:latest
    container_name: backend
    restart: always
    depends_on:
      - mongo
    ports:
      - "8000:8000"

  frontend:
    image: zayed2022/taskmanager-frontend:latest
    container_name: frontend
    restart: always
    depends_on:
      - backend
    ports:
      - "8080:80"

volumes:
  mongo_data:
